:root{
    --headerText: 5vw;
    --bodyText: 2.5vw;
}

@media screen and (max-width: 769px) {
    .btn{
        width: 20vw;
        height: 8vw;
        font-size: var(--bodyText);
    }

    #contact #pagecenter{
        width: 60%;
    }
    #contact #pagecenter h2{
        font-size: var(--headerText);
    }
    #contact #pagecenter{
        gap: 40px;
        width: 60%;
    }
    #contact #pagecenter p{
        margin-bottom: 3%;
    }

    #skills #pagecenter{
        gap: 3vh;
        width: 60%;
    }
    #skills #pagecenter #sec1 h2{
        font-size: var(--headerText);
    }

    #about #pagecenter{
        width: 60%;
    }
    #about #pagecenter #section1 h2{
        font-size: var(--headerText);
    }
    #about #pagecenter img{
        width: 20vw;
    }

    #home h1, #home h2{
        font-size: var(--headerText);
    }

    #nav{
        gap: 2vw;
    }
    #nav img{
        width: 5vw;
    }
    #nav h2{
        font-size: 2.7vw;
    }
    #nav a{
        font-size: 1.3vw;
    }
}

@media screen and (max-width: 920px) {
    #about #pagecenter{
        width: 60%;
        
    }
}