:root{
	--headerText: 8vw;
	--bodyText: 2.5vw;
	--nameText: 4vw;
	--pText: 1.7vw;
}

*{
	margin: 0;
	padding: 0;
	user-select: none;
	box-sizing: border-box;
}

body{
	background-color: #000000;
	color: white;
	overflow-x: hidden;
	font-family: 'Cutive Mono', sans-serif;
}

html{
  	scroll-behavior: smooth;
}

#nav{
	position: fixed;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	z-index: 40;
	padding-top: 20px;
}

#nav h2{
	font-size: 2vw;
	width: 60%;
}

#nav menus{
	display: flex;
}

#nav a{
	font-size: 1vw;
	text-decoration: none;
	color: white;
}

#nav a:hover{
  	font-weight: 600;
}

.content{
	padding-top: calc(20px + 3vw);
}

.brand{
	margin-top: 5vw;
	display: flex;
	width: 100vw;
	justify-content: center;
	align-items: center;
}

.brand .wrapper1{
	display: flex;
	align-items: baseline;
}

.brand .hello{
	rotate: -90deg;
	font-size: 2.6vw;
}

.brand img{
	width: 350px;
	margin-right: 20px;
}

.brand .info .name{
	font-size: 2vw;
}

.brand .info .about{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.content p, .content a{
	text-decoration: none;
	color: #fff;
	font-size: 1vw;
}